* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#stage {
  width: 800px;
  height: 600px;
  transform-origin: center;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

#furniture {
  width: 800px;
  height: 600px;
  position: relative;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain; /* OR none, but be consistent */
  display: block;
}

#visual-layer,
#drawer_hitarea {
  position: absolute;
  inset: 0;
}

#animation_dario,
#animation_projects {
  pointer-events: none;
  position: absolute;
}

.furniture-layer,
.drawer,
#animation_dario,
#animation_projects {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.drawer_wrapper {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-size: contain;
  mask-size: contain;

  pointer-events: none;
  cursor: default;

  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform var(--drawer-duration) cubic-bezier(0.22, 1, 0.36, 1);
  transform: translate(0, 0);
}

#drawer_hitarea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#drawer_hitarea path {
  fill-opacity: 0;
  fill: white;

  pointer-events: auto;
  cursor: pointer;
  stroke: none;
  /* fill: rgba(255, 0, 0, 0.2); */

  transform-origin: center;
  transition: transform var(--drawer-duration) cubic-bezier(0.22, 1, 0.36, 1);

  vector-effect: non-scaling-stroke;
}

/* Text */
.drawer-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
  font-family: sans-serif;
  font-size: 1.5rem;
  color: #000000;
  pointer-events: none;
  text-align: center;
  z-index: 400;
}

.drawer-text a {
  pointer-events: auto;
  cursor: pointer; /* optional, gives hover cursor */
}

.drawer-text.visible {
  opacity: 1;
  transition-delay: 0.3s; /* delay before animation starts */
}

#dario-text-top {
  top: 4%;
}

#dario-text-bottom {
  bottom: 5%;
}

#contact-text {
  bottom: 4%;
}

a {
  color: rgb(0, 0, 0);
  z-index: 500;
}

/* Overlay with Project Informations */
#overlay-system {
  position: fixed;
  inset: 0;
  z-index: 5000;

  pointer-events: none;
}

.project-overlay {
  position: absolute;
  inset: 0;

  opacity: 0;
  transition: opacity 0.3s ease;

  pointer-events: none;
}

.project-overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.overlay-backdrop {
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(8px);
}

.overlay-panel {
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  width: min(700px, 90vw);
  max-height: 80vh;

  overflow-y: auto;

  background: white;
  border-radius: 20px;

  padding: 40px;

  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.3);
}

.overlay-close {
  position: absolute;

  top: 20px;
  right: 20px;

  border: none;
  background: transparent;

  font-size: 1.5rem;
  cursor: pointer;
}

/* Project Icons */
#furniture-mask {
  position: absolute;
  visibility: hidden;
  /* visibility: hidden; */
  pointer-events: none;
  z-index: 999;
  inset: 0;
  width: 100%;
  height: 100%;
}

#furniture-path {
  /* temporary debug styling */
  fill: red;
  fill-opacity: 0.3;
  stroke: red;
}

#projects-container {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 310;
  pointer-events: none;
}

#projects-container.visible {
  opacity: 1;
}

.project-icon {
  position: absolute;

  width: 120px;
  height: 120px;

  padding: 0;
  border: none;
  background: transparent;

  cursor: pointer;

  opacity: 0;
  transform: translateY(20px);

  transition:
    transform 0.3s ease,
    opacity 0.3s ease;

  z-index: 311;

  pointer-events: auto;
}

.project-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* Z-Index Logic */
#layer1 {
  z-index: 101;
}

.drawer_wrapper[data-drawer="2"] {
  z-index: 102;
}

#layer2 {
  z-index: 103;
}

#animation_dario {
  z-index: 300;
}

.drawer_wrapper[data-drawer="1"] {
  z-index: 104;
}

#animation_projects {
  z-index: 300;
}

#layer3 {
  z-index: 105;
}

.drawer_wrapper[data-drawer="0"] {
  z-index: 106;
}

#layer4 {
  z-index: 110;
}

#drawer_hitarea {
  z-index: 200; /* IMPORTANT: just above drawers, below animations */
}
